@model List<WebApplication1.Models.Tours>
@{
    ViewBag.Title = "Tour Agency";
}

<div class="jumbotron">
    <h1>Tour Agency</h1>
    <p class="lead">Our service provides the best.</p>
    @if (Session["role_id"] != null && Session["role_id"].ToString() == "1")
    {
        <p><a href="@Url.Action("CreateTour", "Tours")" class="btn btn-primary btn-lg">New Tour &raquo;</a></p>
    }
</div>

<div class="row">
    <hr />
    @using (Html.BeginForm("TourFilter", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    <div class="form-inline">
        <label class="control-label">Tour price: </label>
        <select name="tourPrice" class="form-control">
            <option>
                0-300
            </option>
            <option>
                300-500
            </option>
            <option>
                500-800
            </option>
            <option>
                800+
            </option>
        </select>
        <a href="@Url.Action("Index", "Home")" class="btn btn-default">Clear all filters</a>
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
    }
    <hr />
    @if (Model != null)
    {
        foreach (var tour in Model)
        {
    <div class="col-lg-10">

        @{
            <a href="@Url.Action("ViewTour", "Tours", new { tourId = tour.Id})"><h2>@tour.name</h2></a>
            <a href="@Url.Action("ViewTour", "Tours", new { tourId = tour.Id})" >
                <img src="@tour.img_path" name="tour_img" style="width: 100%; height: auto" />
            </a>
            <h6>@tour.departure_city</h6>
            <h4>@tour.price $</h4>
            <p>@tour.description</p>
            if (Session["role_id"] != null && Session["role_id"].ToString() == "1")
            {
                <p><a href="@Url.Action("DeleteTour", "Tours", new { tourId = tour.Id })" class="btn btn-primary btn-lg">Delete Tour&raquo;</a></p>
            }
            else if (Session["role_id"] == null || Session["role_id"].ToString() == "3")
            {
                <p><a href="@Url.Action("CreateApplication", "Applications", new { tourId = tour.Id })" class="btn btn-primary btn-lg">Buy Tour&raquo;</a></p>
            }
            <hr />
        }
    </div>
        }
    }


</div>