@model WebApplication1.Models.Applications

@{
    ViewBag.Title = "Buy Tour";
}

<h2>Buy Tour</h2>
@if (!(HttpContext.Current.Request.HttpMethod == "POST"))
{
    using (Html.BeginForm("CreateApplication", "Applications", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <label class="label-success">@ViewBag.SuccessMessage</label>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.user_email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.user_email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.user_email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.user_phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.user_phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.user_phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Buy" class="btn btn-default" />
                </div>
            </div>

        </div>
    }
}
else
{

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
}
